<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YT Translator</title>
    <link rel="stylesheet" href="../static/style.css">

    <script type="module" src="../static/script.js" defer></script>
</head>
<body>
    <main>
        <section class="container">
            <form class="input-form" action="/translate" method="POST">
                <input type="text" name="url" id="url" placeholder="Enter URL">
                <input type="submit" id="translate-btn" value="Translate">
            </form>
        </section>
    </main>
</body>
</html>